@import 'tailwindcss/dist/tailwind.min.css';
/* @import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

body{
    padding: 0px !important;
    height: max-content;
}

/* #area{
    width: 90%;
    height: 90vh;
    margin: 0 auto;
     border: 2px solid black;
     padding: 0px;
} */
#area svg{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}
/* #toc{
    z-index: 999;
    position: fixed;
    margin: 0;
    height: 100vh;
    width: 40vw;
    top :0;
    overflow-y: scroll;
} */